@import url(https://fonts.googleapis.com/css2?family=montserrat&display=swap); 

body{
    font-family: 'Montserrat' , sans-serif;
    overflow-x: hidden;
  
}

/*Menu*/

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/*Imagenes*/
.carousel-inner{
    max-height: 39rem;
}

/*Footer*/
footer{
    background-color: #4d5057;
    min-height: 100px;
}

footer p, h2{
    color: white;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}


/*Media queries pantalla grande*/


/*Media queries pantalla mediana*/

@media (max-width: 768px) {
    #intro{
        width:90%  !important;
    }
}

/*Media queries pantalla chica*/

/*Formulario de contacto*/

.contenedorformulario{
    position:absolute;
    top:30%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    max-width: 500px;
}

#tituloformulario{
    color:#3f3f3f;
}

