/*colores*/
$primary:rgba(212, 200, 87, 0.699);
$secondary: rgb(15, 15, 15);
$text-color: rgb(153, 153, 148);

/*espaciados*/

$large:6rem;
$medium:2.4rem;
$small: 2rem;
$xsmall: 1.2rem;

/*FUENTES*/
$font-principal:"Montserrat", sans-serif;
$font-title: "Montserrat", sans-serif;

/*TAMAÑOS DE FUENTE*/
$largue: 5.2em;
$medium: 2.2em;
$base: 1.6em;
$small: 1.2em;



