body {
    background-color: rgb(107, 88, 70);
    color: rgb(245, 241, 241);
}
/*pantalla grande*/
@media (max-width: 1200px) {
    #local {
      flex-wrap: wrap;
      padding-top: 30px;
    }
  }
  /*pantalla mediana*/
  @media (max-width: 768px) {
    #intro {
      width: 90% !important;
    }
  }
  /*pantalla chica*/
  @media (max-width: 576px){
    .icono-wrap {
      flex-wrap: wrap;
      justify-content: center !important;
    }
    }