.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      li {
        list-style-type: none;
        transition: 0.5s;
        &:hover {
          transform: scale(1.2);
        }
        a {
          text-align: center;
          color: rgb(245, 239, 239);
          text-decoration:none
          &:hover {
             background-color:rgb(238, 18, 18);
          }
        }
      }
    }
  }

  
